<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>
    <% if(locals.fileLink != null) { %>
        <div style="margin-bottom: 1rem;">
            Your files are uploaded
            <a href="<%= locals.fileLink %>"><%= locals.fileLink %></a>
        </div>
        <% } %>
        <form action="/upload" method="post" style="display: grid; gap: .5rem; grid-template-columns:auto 1fr;
        max-width: 500px; margin: 0 auto" enctype="multipart/form-data">
            <label for="file">File:</label>
            <input type="file" id="file" name="file" multiple required />
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" />
            <label for="maxDownloads">Max Downloads:</label>
            <select id="maxDownloads" name="maxDownloads">
                <option value="1">1</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="100">100</option>
            </select>
            <label for="expirationTime">Expiration Time:</label>
            <select id="expirationTime" name="expirationTime">
                <option value="1">1 hour</option>
                <option value="5">5 hours</option>
                <option value="10">10 hours</option>
                <option value="24">1 day</option>
            </select>
            <button style="grid-column: span 2;" type="submit">Share</button>
        </form>

</body>
</html>