<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Enter Password</title>
</head>
<body>
    <h1>Enter Password</h1>
        <% if(locals.error) {%>
            <p style="color: red;"><%= locals.error %></p>
        <% } %>
        <form action="/file/<%= locals.fileId %>/password" method="POST">
            <input type="password" name = "password" required>
            <button type="submit">Submit</button>
        </form>
</body>
</html>